body{
    background-color: brown;
    color: whitesmoke;
    font-family: "Abril Fatface", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

button {
    background-color: yellow;
    font-family: "Abril Fatface", system-ui;
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}